.head
  .title
    = link_to'Insectagram', root_path
  .user
    .user-name
      - if user_signed_in?
        .user_logout
          = link_to "ログアウト",destroy_user_session_path, method: :delete
          = link_to "投稿する", "/posts/new", class: "post-link"
      - else
        .user_login
          = link_to "ログイン", new_user_session_path, class: 'login'
          = link_to "新規登録", new_user_registration_path, class: 'login'
